<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Bikesh Prajapati

### Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

### Exercise 3 - Create a markdown cell for an introduction

There are different tools that are used for data science. Some programming languages used for data science are python, R, scala , Apache spark and so on. Along with that different ecosystem can be used to perform data science project such as: Jupitor Notebook, R studio, Vs Code and so on.

### Exercise 10 - Insert a markdown cell to list Objectives

**Objectives**
* List of Popular languages use for Data Scientists
* List of Libaries used by Data Scientists
* Table of Data Science Tools
* Arithemetic Expresssion
* Convert mintues to hours

###  Exercise 4 - Create a markdown cell to list data science languages

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. juila

### Exercise 5 - Create a markdown cell to list data science libraries

#### Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Pandas
3. Matplotlib
4. NumPy
5. SciPy

### Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|RStudio|
|Jupitor Notebook|
|Apache Spark|

### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
X = 10
Y = 45

In [4]:
X<Y

True

In [5]:
X>Y

False

In [6]:
X+Y

55

In [7]:
X-Y

-35

### Exercise 10 - Insert a markdown cell to list Objectives

In [9]:
X*Y

450

### Exercise 8 - Create a code cell to multiply and add numbers

In [13]:
# This a simple arithmetic expression to mutiply then add integers --
(3*4)+5

17

### Exercise 9 - Create a code cell to convert minutes to hours

In [14]:
# This will convert 200 minutes to hours by diving by 60

In [16]:
M = 200

In [17]:
H = 200/60

In [18]:
print(f"200 minutes is equals to {H} Hours.")

200 minutes is equals to 3.3333333333333335 Hours.

**Objectives**
*